* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: red;
}

#imgThumbs {
  display: flex;
}

#imgHero {
  width: 500px;
  height: 500px;
  background-image: url("./img/bongocat.jpg");
  background-size: cover;
}
