* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
}
header {
  position: fixed;
  top: 0;
  z-index: 1;
}
main {
  height: 100%;
  width: 100%;
}

#imgContainer {
  position: relative;
}
#imgHeroContainer {
}
#imgHero {
}
#imgThumbs {
  display: flex;
  /* position: absolute;
  bottom: 0; */
  height: 5em;
  width: 100%;
  overflow: hidden;
}

.window95 {
  border: 3px outset black;
}
.btn95 {
  background-color: #c0c0c0;
  border: 2px outset grey;
}
.btn95:active {
  background-color: darkgrey;
  border: 2px inset grey;
}

#startBar {
  display: none;
  width: 100%;
  height: fit-content;
  background: #c0c0c0;
  border-top: 2px outset grey;
  padding: 1px 2px 0 2px;
  gap: 3px;
}
#startBtn {
  padding-left: 24px;
  background-image: url("./img/win.png");
  background-position: 1px 1px;
  background-repeat: no-repeat;
}
#startBtn:active {
  border-style: inset;
  background-position: 3px 2px;
}
#startBtn p {
  text-align: right;
}

#taskBar {
  display: flex;
  width: 100%;
  height: 100%;
  list-style: none;
}
#taskBar button {
  width: 150px;
  border: 2px outset grey;
  background-repeat: no-repeat;
  padding-left: 24px;
  align-self: center;
}
#taskBar button p {
  text-align: left;
}

#taskBar button:nth-child(1) {
  background-image: url("./img/SteamOldFavicon.webp");
}
#taskBar button:nth-child(2) {
  background-image: url("./img/win.png");
}
#taskBar button:nth-child(3) {
  background-image: url("./img/SteamOldFavicon.webp");
}

#notifTray {
  display: flex;
  gap: 3px;
  border: 2px inset grey;
  padding: 0 2px;
}
#notifTray time {
  align-self: center;
}

@media (min-width: 800px) {
  #imgContainer {
    align-self: center;
  }
  #startBar {
    display: flex;
  }
}

/* trash to be recycled */
/* #imgContainer {
    width: 500px;
  }
  #imgThumbs {
    display: flex;
    position: relative;
    justify-content: space-around;
    background-color: green;
    overflow: hidden;
  }
  #imgThumbs.hidden {
    display: hidden;
  }
  .thumb {
    height: 5em;
  }
  #thumbSlider {
    position: absolute;
    bottom: 0em;
  }
  #thumbShowHide {
    width: 50px;
    height: 50px;
    background-color: #c0c0c0;
    border: 2px outset #c0c0c0;
    border-radius: 2px;
  }
  #thumbShowHide:active {
    background-color: grey;
    border: 2px inset #c0c0c0;
    border-radius: 2px;
  }

  #imgHero {
    width: 500px;
    height: 500px;
    background-size: cover;
    background-color: blue;
  }

  #startBar {
    position: fixed;
    display: grid;
    grid-template-columns: min-content auto min-content;
    bottom: 0px;
    width: 100%;
    height: 24px;
    background: #c0c0c0;
  }
  #startBar > * {
    height: 100%;
  }
  #startBtn {
    width: 72px;
    height: 100%;
    background-image: url("./img/win.png");
    background-position: 1px 1px;
    background-repeat: no-repeat;
  }
  #startBtn:active {
    border-style: inset;
    background-position: 3px 2px;
  }

  #taskBar {
    display: flex;
    width: 100%;
    list-style: none;
  }
  #taskBar li {
    width: 150px;
    border: 1px solid black;
  }
  #taskBar li {
    background-image: url("./img/SteamOldFavicon.webp");
    background-position: 2px 3px;
    background-repeat: no-repeat;
  }
  #notifTray {
    width: 50px;
    border: 2px inset grey;
  }

  .btn {
    background-color: #c0c0c0;
    border: 2px outset grey;
  }
  .btn:active {
    background-color: darkgrey;
    border: 2px inset grey;
  }*/
