* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-flow: column;
  height: 100vh;
  align-items: center;
}
header {
  position: fixed;
  top: 0;
  z-index: 1;
  color: white;
  background: black;
  font-family:
    "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; /* no particular attachment to gill sans but boy is it funny to use after reading about eric gill */
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.window95 {
  height: 100%;
}
#imgContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#imgHeroContainer {
  position: relative;
  display: flex;
  height: 100%;
}
#imgHero {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#imgThumbs {
  display: flex;
  height: 6em;
  width: 80%;
  overflow-x: scroll; /* i wanted to do some fancy scroll behaviour, but given the time and accessibility constraints i got overwhelmed and deferred to system default behaviour. lazy marisa! */
  overflow-y: hidden;
  align-self: center;
  position: fixed;
  bottom: 0;
  list-style: none;
  gap: 5px;
  border-radius: 20px;
  padding: 5px;
  background-image: linear-gradient(
    to right,
    palevioletred,
    orange,
    palegoldenrod,
    lightgreen,
    cyan,
    cornflowerblue,
    mediumpurple
  );
}
#leftBtn,
#rightBtn {
  width: 4em;
  height: 4em;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  position: absolute;
  background-color: black;
  border-radius: 50%;
  align-self: center;
}
#leftBtn {
  background-image: url("./img/bckw.png");
  left: 0;
}
#rightBtn {
  background-image: url("./img/fwdw.png");
  right: 0;
}
.thumb img {
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.title95 {
  display: none;
}
#startBar {
  display: none;
}
@media (min-width: 800px) {
  body {
    justify-content: space-between;
    background-color: #038387;
  }
  header {
    position: relative;
  }
  .window95 {
    display: block;
    border: 3px outset darkgrey;
    background-image: url("/img/corner.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #c3c7cb;
    width: 800px; /* I wanted this to be the one defined width in the whole thing (save for UI prev/next), but I don't really know if I achieved that */
    height: auto;
  }
  .title95 {
    display: flex;
    background-image: linear-gradient(to right, #0000aa, #1084d0);
    color: white;
    padding-left: 3px;
    justify-content: space-between;
    align-items: center;
    height: 20px;
  }
  .title95 h2 {
    font-size: 0.95em;
  }
  .titleBtns95 {
    width: fit-content;
    display: flex; /* lol at this point it's becoming a crutch */
    height: 100%;
    padding-bottom: 2px; /* don't ask why i bodged these buttons so bad */
  }
  .title95 img {
    height: 100%;
  }
  #imgContainer {
    gap: 10px;
    margin: 10px;
    height: auto;
  }
  #imgHeroContainer {
    border: 3px inset darkgrey;
    aspect-ratio: 1;
  }
  #imgThumbs {
    border: 3px inset darkgrey;
    position: relative;
    width: 100%;
    border-radius: 0;
    background-color: #c3c7cb;
    background-image: none;
  }
  .thumb img {
    border-radius: 0;
  }
  #leftBtn,
  #rightBtn {
    width: 32px;
    height: 100%;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    border-radius: 0;
    background-color: #c3c7cb;
    bottom: 0;
  }
  #leftBtn {
    background-image: url("./img/bck.png");
  }
  #rightBtn {
    background-image: url("./img/fwd.png");
  }
  .btn95 {
    background-color: #c3c7cb;
    border: 2px outset darkgrey;
  }
  .btn95:active {
    background-color: darkgrey;
    border: 2px inset #c3c7cb;
  }

  .buttonIcon {
    padding-left: 24px;
    background-repeat: no-repeat;
    background-position-x: 3px;
    background-position-y: center;
  }
  .buttonIcon:active {
    border-style: inset;
    background-position: 3px 2px;
  }

  #startBar {
    display: flex;
    width: 100%;
    height: fit-content;
    background: #c3c7cb;
    border-top: 2px outset darkgrey;
    padding: 1px 2px 0 2px;
    gap: 3px;
  }
  #startBtn {
    padding-right: 5px;
    background-image: url("./img/win.png");
  }
  #startBtn p {
    text-align: right;
  }

  #taskBar {
    display: flex;
    width: 100%;
    list-style: none;
    gap: 1px;
  }
  #taskBar button {
    width: 180px;
    height: 100%;
    align-self: center;
    padding: 0 2px 0 24px;
  }
  #taskBar button:first-of-type {
    background-color: darkgrey;
    border: 2px inset #c3c7cb;
  }
  #taskBar button p {
    overflow: hidden;
    text-wrap-mode: nowrap; /* not really sure i can rely on this tbh*/
    text-overflow: clip;
    text-align: left;
  }

  #notifTray {
    display: flex;
    gap: 3px;
    border: 2px inset darkgrey;
    padding: 2px;
  }
  #notifTray time {
    align-self: center;
  }
}
